body{
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color:#373a40 ;
    color: white;
}
.nav-container{
    position : fixed;
    flex-direction: column;
    flex-shrink: 1;
    justify-content: right;
    width : 100%;
    color: #eeeeee;
}
nav{
    display: flex;
    flex-direction: row;
    flex-shrink: .05;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #686d76;
    padding: 0 0
    ;
   
}
.logo{
    justify-content: left;
    margin-left:0;
}

ul{
    list-style : none;
}
.a:hover{
    color: #f05454;
}
li{
    display: inline;
    padding: 0 2rem;

}
li a{
    flex-shrink: 1;
    text-decoration: none;
    color:#19d3da;
}
/* Home */
.container{
    display: flex;
    flex-wrap: shrink;
    justify-content: center;
    align-items: center;
    /*  top right bottom left*/
    padding:15vh 10vw 5vh 10vw;
    height: 80vh;
}
.me{
    height:250px;
    width:250px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #19d3da;

}
.image-container{
    width: 30%;
}
.designation-container{
    width: 70%;
}
.image-container, .designation-container{
    text-align: center;
}
h4{
    color: #19d3da;
    font-size:1.5rem;
}
h1{
    font-size: 3.5rem;
}
h2{
    font-size: 2.5rem;
    opacity: 0.75;

}
h3{
    font-size: 1.5rem;
    opacity: 0.5;
}
h1, h2, h3{
    margin: 0;
}
/* About section */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    padding:15vh 10vw 5vh 10vw;
    grid-gap: 25px;

}
.skills {
    grid-column:1/2;
    grid-row: 1/2;
    margin-top: 10px;

}
.edu{
    grid-column:1/2;
    grid-row: 2/3;
}
.about {
    grid-column:2/4;
    grid-row:1/3 ;
}
.edu, .skills, .about {
    padding: 2rem;
    background-color: #686d76;
    border-radius: 10px;
}
.head{
    font-size: 2rem;
    color: #19d3da;
         
}
.subhead{
    font-size: 1rem;
    opacity: 1;

}
.p{
    line-height: 2;
    color: #214252;

}
.btn{
    
    font-size: 18px;
    border-radius: 5px;
    background-color:#f05454;
    font-family: 'Montserrat', sans-serif;
    
}
.grid-container3{
    display: flex;
    justify-content: center;

}
.contact-form{
    background-color: #686d76;
    border-radius: 18px;
    padding:2rem;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 350;

}
.form-text h2 {
    margin: 1rem;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
}
.form-input {
    border-radius: 10px;
    border: none;
    background-color: #373a40;
    color: #eeeeee;
    text-align: left;
    width: 90%;
    padding: 1rem;
    margin-bottom: 1rem;
    font-family: "Montserrat";


}
.form-input::placeholder{
    color: #eeeeee;

}
.form-input:focus{
    outline: none;
}
.btn:focus{
    border: none;
    background-color: #19d3da;
    outline: none;

}
.btn:hover{
    border: none;
    background-color: #19d3da;
}
footer{
    background-color: #686d76;
    position: absolute;
    width: 100%;
    margin-top: 1rem;
    left: 0px;
}
.footer{
    margin: 2rem 1rem 2rem 1rem;
    text-align: center;
    
}
.icons{
    display: inline-block;
    padding:2rem 5rem;
 
}
.footer-text h3{
    color: #19d3da;
    opacity: 1;
    text-align: center;
    font-size: 18px;
    



}
.hi{
    height: 84.5px;
    width: 100px;
    border-radius: 45%;
    align-items: left;
    border:none;
}
.fab{
    color: #09c6ff;
    border: 50%;

}
.fas{
    color: #09c6ff
}
icon:hover, .icon:focus{
    transform: scale(1.2)
  }
  
  
  /*responsive navbar*/
  .nav-responsive{
    display: flex;
    
    align-items: left;
    padding: 0.5rem 0;
  }
  button{
    max-width: 100%;
  }
  
  
  .hide{
    display: none;
  }
  /*Media Queries*/
  
  /*Medium and small screen sizes*/
  
  @media (min-width: 769px) and (max-width: 992px){
    li a{
      padding: 0.5rem 1rem;
    }
  }
  @media (max-width: 768px){
    .container{
      flex-direction: column;
    }
  
    .image-container, .designation-container{
        width: 100%;
        padding: 0 1rem;
      }
      .designation-container{
        margin-top: 3rem;
      }
      
  
      .grid-container{
        display: block;
        text-align: center;
      }
      .edu, .about{
        margin-top: 3rem;
      }
  
      .navbar-nav{
        display: block;
        margin: 0.5rem 0;
        flex-shrink: 1;
      }
  
      li {
        display: block;
        padding: 0.5rem 0;
      }
      li a{
        padding: 0;
      }
    ul{
      width: 100%;
      text-align: center;
      padding: 0 0 1rem 0;
      margin: 0;
    }
    .icon{
      margin-top: 0;
    }
  
  
    
  h1{
    font-size: 3rem;
  
  }
  h2{
    font-size: 1.5rem;
  }
  h3{
    font-size: 1rem;
  }
  .heading-below{
    font-size: 1.3rem;
  }
  
  
  }
  
   /*XS Screens*/
  
  @media (max-width: 400px){
    .footer{
      flex-direction: column;
    }
    .icon{
      margin-bottom: 1rem;
    }
    h1{
      font-size: 2.2rem;
    }
    h2{
      font-size: 1.3rem;
    }
    h3{
      font-size: 1rem;
    }
    .heading-below{
      font-size: 1.3rem;
    }
    
    .heading-below{
      font-size: 2rem;
    }
  }
  .brand{
    font-size: 56px;
    font-weight:350;
    display: inline-block;
    margin-left: 0;
   
  }
  .brand:hover{
      color: #000000;
  }
.logo:hover{
    opacity: 0.35;
}
.li:hover{
    color: #000000;
    text-shadow: 0 1;
}
.nav-list:hover{
    color: #f34b4b;
}